@import './colors.css';
@import './reset.css';

/* pattern */
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4%;
}

.page-title {
  font-family: Calistoga;
  font-size: 48px;
}

.list {
    display: flex;
    flex-direction: column;
}

.space {
  width: 50%;
}

/* scroll */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--purple) var(--background);
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 20px;
  border: 3px solid var(--purple);
}

/* header  */
.header {
  position: absolute;
  right: 0;
  margin: 4%;
}

.header-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-list {
  font-family: Raleway;
  font-weight: 300;
  font-size: 18px;
  color: var(--green);
  margin: 10px;
}

/* home */
.home {
  background-color: var(--background);
}

.titles-home {
  margin-top: calc(50vh - 10%);
}

.name {
  color: var(--green);
}

.area {
  font-family: Raleway;
  font-weight: 300;
  font-size: 30px;
  color: var(--green);
}

/* about-me */

.about-me {
  background-color: var(--yellow);
}

.title-about, .title-education {
  color: var(--background);
}

.resume-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
}

.information {
  width: 45%;
  font-family: Raleway;
  font-size: 22px;
  line-height: 30px;
  color: var(--background);
}

/* education */
.education {
  background-color: var(--green);
}

/* work-experience  */
.work-experience {
  background-color: var(--background);
}

.title-experience {
  color: var(--purple);
}

.green {
  color: var(--green);
}

/* contact */
.contact {
  background-color: var(--yellow);
  display: flex;
  justify-content: space-around;
}

.span-title {
  font-family: Raleway;
  font-size: 19px;
  color: var(--background);
}

.title-contact {
  color: var(--background);
  display: flex;
  flex-direction: column;
}

.personal-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bi {
  margin: 1%;
}

.social-links {
  display: flex;
  align-items: row;
}

.social-links_link {
  margin-right: 10px;
}
